.countriesList{
    padding-top: 4%;
    padding-left: 4%;
}

.listItem{
    background-color: var(--element-bg);
    height: 20vh;
    width: 20vw;
  }
  

@media only screen and (max-width: 768px){
    h1{
        font-size: medium;
    }
}